.post
  %h2.title
    = link_to h(params[:name]), twitter_url(params[:name]), :target => "_blank"
    と同じリストに入れられている人
  %p.meta
    %span.date
      &nbsp;
    %span.posted
      = "&nbsp;" * 70
  .clear_both
    &nbsp;
  .entry
    .right
      - link_to_update_status(@user)
  - unless logged_in?
    .entry
      .center
        %p
          下のリンクをクリックして、あなたの同じリストに入れられている人を探してみましょう！<br />
          意外な人が同じリストにいるかもしれません。
        %p
          - link_to request_token_path do
            = image_tag "Sign-in-with-Twitter-lighter.png"

  .entry
    %table.result
      %tr
        %th ユーザ
        %th リスト
        %th 数
        %th

      - @user.cal_users_lists_table.each do |user, lists, count|
        %tr
          %td
            %a{:href => "http://twitter.com/#{user.screen_name}", :target => "_blank"}
              %img{:src => user.profile_image_url, :width => 48, :height => 48}
              = h user.screen_name
          %td
            - lists.each do |list|
              %a{:href => "http://twitter.com#{list.uri}", :target => "_blank"}
                = h list.full_name
              %br
          %td
            %span{:style => "font-size: #{count*2 + 10}px"}
              = h count
          %td.find_other
            = link_to "#{h user.screen_name}を調べる！", user_path(user.screen_name), :class => "find_other"
  .entry
    .right
      - link_to_update_status(@user)
